In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
test=pd.read_csv(r"D:\car price\test.csv")
train=pd.read_csv(r"D:\car price\train.csv")
print(train.head())
print(test.head())

         ID  Price  Levy Manufacturer    Model  Prod. year   Category  \
0  45654403  13328  1399        LEXUS   RX 450        2010       Jeep
1  44731507  16621  1018    CHEVROLET  Equinox        2011       Jeep
2  45774419   8467     -        HONDA      FIT        2006  Hatchback
3  45769185   3607   862         FORD   Escape        2011       Jeep
4  45809263  11726   446        HONDA      FIT        2014  Hatchback

  Leather interior Fuel type Engine volume    Mileage  Cylinders  \
0              Yes    Hybrid           3.5  186005 km        6.0
1               No    Petrol             3  192000 km        6.0
2               No    Petrol           1.3  200000 km        4.0
3              Yes    Hybrid           2.5  168966 km        4.0
4              Yes    Petrol           1.3   91901 km        4.0

  Gear box type Drive wheels   Doors             Wheel   Color  Airbags
0     Automatic          4x4  04-May        Left wheel  Silver       12
1     Tiptronic          4x4  04-May        Left wheel   Black        8
2      Variator        Front  04-May  Right-hand drive   Black        2
3     Automatic          4x4  04-May        Left wheel   White        0
4     Automatic        Front  04-May        Left wheel  Silver        4
         ID Levy Manufacturer   Model  Prod. year   Category Leather interior  \
0  44020629    -   VOLKSWAGEN    Golf        2012  Hatchback               No
1  45784798    -      HYUNDAI  Sonata        2012      Sedan              Yes
2  45800257    -       NISSAN   Tiida        2005      Sedan               No
3  45797981  975        VOLVO    XC90        2012       Jeep              Yes
4  45814303    -         OPEL   Astra        1993  Hatchback               No

  Fuel type Engine volume    Mileage  Cylinders Gear box type Drive wheels  \
0    Diesel     2.0 Turbo       0 km          4        Manual        Front
1    Petrol           2.4   26000 km          4     Tiptronic        Front
2    Petrol           1.5  168000 km          4     Automatic        Front
3    Petrol           3.2  143000 km          6     Automatic          4x4
4    Petrol           1.6  200000 km          4        Manual        Front

    Doors             Wheel     Color  Airbags  Price
0  02-Mar        Left wheel      Grey       10    NaN
1  04-May        Left wheel      Grey       10    NaN
2  04-May  Right-hand drive  Sky blue        8    NaN
3  04-May        Left wheel      Blue       12    NaN
4  04-May        Left wheel     Black        0    NaN

In [5]:
print(test.isnull().sum())
print(train.isnull().sum())

ID                     0
Levy                   0
Manufacturer           0
Model                  0
Prod. year             0
Category               0
Leather interior       0
Fuel type              0
Engine volume          0
Mileage                0
Cylinders              0
Gear box type          0
Drive wheels           0
Doors                  0
Wheel                  0
Color                  0
Airbags                0
Price               8245
dtype: int64
ID                  0
Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

In [7]:
test.info()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8245 entries, 0 to 8244
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8245 non-null   int64
 1   Levy              8245 non-null   object
 2   Manufacturer      8245 non-null   object
 3   Model             8245 non-null   object
 4   Prod. year        8245 non-null   int64
 5   Category          8245 non-null   object
 6   Leather interior  8245 non-null   object
 7   Fuel type         8245 non-null   object
 8   Engine volume     8245 non-null   object
 9   Mileage           8245 non-null   object
 10  Cylinders         8245 non-null   int64
 11  Gear box type     8245 non-null   object
 12  Drive wheels      8245 non-null   object
 13  Doors             8245 non-null   object
 14  Wheel             8245 non-null   object
 15  Color             8245 non-null   object
 16  Airbags           8245 non-null   int64
 17  Price             0 non-null      float64
dtypes: float64(1), int64(4), object(13)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [9]:
feature_cols=['ID','Levy','Manufacturer','Model','Prod. year','Category','Leather interior','Fuel type','Engine volume','Mileage','Cylinders','Gear box type','Drive wheels','Doors','Wheel','Color','Airbags']
target_cols='Price'
x=train[feature_cols]
y=train[target_cols]

In [17]:
from sklearn.preprocessing import LabelEncoder
label_encoder=LabelEncoder()
for col in x.columns:
    if x[col].dtype=='object':
        x[col]=label_encoder.fit_transform(x[col])

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=101)

In [21]:
from sklearn.linear_model import LinearRegression
lor=LinearRegression()
lor.fit(X_train,y_train)

LinearRegression()

In [52]:
predictions=lor.predict(X_test)

In [53]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions)
rmse=np.sqrt(mse)
print('RMSE is',rmse)

RMSE is 25369.55289984294

In [61]:
new_data = pd.DataFrame({
    'ID': [45656768],
    'Levy': [761],
    'Manufacturer': ['TOYOTA'],
    'Model': ['Prius'],
    'Prod. year': [2010],
    'Category': ['Hatchback'],
    'Leather interior': ['Yes'],
    'Fuel type': ['Hybrid'],
    'Engine volume': [1.8],
    'Mileage': ['258909 km'],
    'Cylinders': [8],
    'Gear box type': ['Automatic'],
    'Drive wheels': ['Front'],
    'Doors': ['4-May'],
    'Wheel': ['Left wheel'],
    'Color': ['White'],
    'Airbags': [12]
})

from sklearn.preprocessing import LabelEncoder

# Create a copy of the new_data DataFrame
new_data_encoded = new_data.copy()

# Instantiate the LabelEncoder
label_encoder = LabelEncoder()

# Encode categorical columns in new_data_encoded
for col in new_data_encoded.columns:
    if new_data_encoded[col].dtype == 'object':
        new_data_encoded[col] = label_encoder.fit_transform(new_data_encoded[col])

# Predict car price for new data
predicted_price = lor.predict(new_data_encoded)

print("Predicted Price:", predicted_price)

Predicted Price: [46364.09546913]