In [1]:
!pip install skl2onnx
import pandas as pd

Collecting skl2onnx
  Downloading skl2onnx-1.15.0-py2.py3-none-any.whl (294 kB)
     -------------------------------------- 294.7/294.7 kB 1.5 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.19 in c:\users\kiit\anaconda3\lib\site-packages (from skl2onnx) (1.0.2)
Collecting onnxconverter-common>=1.7.0
  Downloading onnxconverter_common-1.14.0-py2.py3-none-any.whl (84 kB)
     ---------------------------------------- 84.5/84.5 kB 4.6 MB/s eta 0:00:00
Collecting onnx>=1.2.1
  Downloading onnx-1.15.0-cp39-cp39-win_amd64.whl (14.3 MB)
     --------------------------------------- 14.3/14.3 MB 17.2 MB/s eta 0:00:00
Requirement already satisfied: protobuf>=3.20.2 in c:\users\kiit\anaconda3\lib\site-packages (from onnx>=1.2.1->skl2onnx) (4.23.1)
Requirement already satisfied: numpy in c:\users\kiit\anaconda3\lib\site-packages (from onnx>=1.2.1->skl2onnx) (1.23.5)
Requirement already satisfied: packaging in c:\users\kiit\anaconda3\lib\site-packages (from onnxconverter-common>=1.7.0->skl2onnx) (21.3)
Collecting protobuf>=3.20.2
  Downloading protobuf-3.20.2-cp39-cp39-win_amd64.whl (904 kB)
     ------------------------------------- 904.2/904.2 kB 28.8 MB/s eta 0:00:00
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\kiit\anaconda3\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\kiit\anaconda3\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (1.9.1)
Requirement already satisfied: joblib>=0.11 in c:\users\kiit\anaconda3\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (1.3.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\kiit\anaconda3\lib\site-packages (from packaging->onnxconverter-common>=1.7.0->skl2onnx) (3.0.9)
Installing collected packages: protobuf, onnx, onnxconverter-common, skl2onnx
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.23.1
    Uninstalling protobuf-4.23.1:
      Successfully uninstalled protobuf-4.23.1
Successfully installed onnx-1.15.0 onnxconverter-common-1.14.0 protobuf-3.20.2 skl2onnx-1.15.0

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow-intel 2.12.0 requires protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3, but you have protobuf 3.20.2 which is incompatible.

In [2]:
data = pd.read_csv('cleaned_cuisines.csv')
data.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
X = data.iloc[:,2:]
X.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
y = data[['cuisine']]
y.head()

  cuisine
0  indian
1  indian
2  indian
3  indian
4  indian

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [7]:
model = SVC(kernel='linear', C=10, probability=True,random_state=0)
model.fit(X_train,y_train.values.ravel())

SVC(C=10, kernel='linear', probability=True, random_state=0)

In [8]:
y_pred = model.predict(X_test)

In [9]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

     chinese       0.67      0.71      0.69       240
      indian       0.87      0.85      0.86       237
    japanese       0.73      0.72      0.72       240
      korean       0.84      0.76      0.80       257
        thai       0.76      0.82      0.79       225

    accuracy                           0.77      1199
   macro avg       0.77      0.77      0.77      1199
weighted avg       0.77      0.77      0.77      1199

In [10]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

initial_type = [('float_input', FloatTensorType([None, 380]))]
options = {id(model): {'nocl': True, 'zipmap': False}}

In [11]:
onx = convert_sklearn(model, initial_types=initial_type, options=options)
with open("./model.onnx", "wb") as f:
    f.write(onx.SerializeToString())